.dynamic-tabs {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	max-width: 100%;
	overflow-x: hidden;
}

.dynamic-tabs .dynamic-tabs-framer {
	flex-grow: 1;
	overflow-x: hidden;
	position: relative;
	text-align: center;
}

.dynamic-tabs .dynamic-tabs-list {
	display: inline-flex;
	flex-wrap: nowrap;
}

.dynamic-tabs .dynamic-tabs-list :not([data-dtr="y"]) {
	display: none;
}

.dynamic-tabs .dynamic-tabs-list .dynamic-tab {
	text-decoration: none;
	cursor: pointer;
	color: #757575;
	letter-spacing: .02em;
	font-size: 14.8px;
	line-height: 3em;
	padding: 0 20px;
	white-space: nowrap;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dynamic-tabs .dynamic-tabs-list .dynamic-tab:hover, .dynamic-tabs .dynamic-tabs-list .dynamic-tab[data-dtactive="a"] {
	color: #212121;
}

.dynamic-tabs .dynamic-tabs-list .dynamic-tab:first-child {
	transition: margin-left .25s cubic-bezier(0, 0, .2, 1) 0ms;
	will-change: margin-left;
}

.dynamic-tabs .dynamic-tabs-arrow {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.dynamic-tabs .dynamic-tabs-arrow svg {
	margin-bottom: 2px;
}

.dynamic-tabs .dynamic-tabs-arrow:first-child svg {
	transform: scaleX(-1);
}

.dynamic-tabs .dynamic-tabs-arrow svg path {
	fill: #000000;
}

.dynamic-tabs .dynamic-tabs-indicator {
	height: 2px;
	position: relative;
}

.dynamic-tabs .dt-indicator-bar {
	background-color: #212121;
	height: 2px;
	position: absolute;
	transition: left .25s cubic-bezier(0, 0, .2, 1) 0ms, width .2s cubic-bezier(0, 0, .2, 1) 0ms;
	will-change: left, width;
}

@media screen and (max-width: 400px) {
	.dynamic-tabs .dynamic-tabs-list .dynamic-tab {
		padding: 0 15px;
	}
}
